WFRP_Service/WPFClient/Service References/SVC/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Receiver" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sender" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="FileMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FileMessage" nillable="true" type="tns:FileMessage" />
  <xs:complexType name="HeroBasicInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="xs:int" />
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DontLikes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enemies" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EyeColor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Family" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Friends" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HHWB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HeroName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Likes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Motivation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Origin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Personality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Race" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SocialPosition" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhoHeServes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WhyTravel" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeroBasicInfo" nillable="true" type="tns:HeroBasicInfo" />
  <xs:complexType name="HeroRaceAndOccupation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Occupation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Race" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeroRaceAndOccupation" nillable="true" type="tns:HeroRaceAndOccupation" />
  <xs:complexType name="ServerMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsStatusCorrect" type="xs:boolean" />
      <xs:element minOccurs="0" name="Type" type="tns:ServerMessageType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerMessage" nillable="true" type="tns:ServerMessage" />
  <xs:simpleType name="ServerMessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Connect" />
      <xs:enumeration value="DisconnectInfoClient" />
      <xs:enumeration value="Register" />
      <xs:enumeration value="Login" />
      <xs:enumeration value="StartSession" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServerMessageType" nillable="true" type="tns:ServerMessageType" />
  <xs:complexType name="Identity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Identity" nillable="true" type="tns:Identity" />
  <xs:complexType name="Session">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Collections.Generic" minOccurs="0" name="MG" type="q1:KeyValuePairOfClientanyTypezniiAH5W" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Members" nillable="true" type="q2:ArrayOfKeyValueOfClientanyTypezniiAH5W" />
      <xs:element minOccurs="0" name="SessionID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Session" nillable="true" type="tns:Session" />
  <xs:complexType name="Hero">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Hero" nillable="true" type="tns:Hero" />
  <xs:complexType name="HeroDetails_Eyes">
    <xs:sequence>
      <xs:element minOccurs="0" name="HeroEyes" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HeroDetails_Eyes" nillable="true" type="tns:HeroDetails_Eyes" />
  <xs:complexType name="AllHeroOccupations">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="HeroOccupations" nillable="true" type="q3:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AllHeroOccupations" nillable="true" type="tns:AllHeroOccupations" />
  <xs:complexType name="OccupationInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Info" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OccupationInfo" nillable="true" type="tns:OccupationInfo" />
  <xs:complexType name="OccupationAndRaceInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="OccupationAbilities" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OccupationSkills" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RaceAbilities" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RaceSkills" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OccupationAndRaceInfo" nillable="true" type="tns:OccupationAndRaceInfo" />
</xs:schema>