WFRP_Service/WPFClient/Service References/SVC/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Service" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="Initialize">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="InitializeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InitializeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="client" nillable="true" type="q1:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="client" nillable="true" type="q2:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="client" nillable="true" type="q3:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="client" nillable="true" type="q4:Client" />
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="members" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EndSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="client" nillable="true" type="q6:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Send">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="msg" nillable="true" type="q7:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Whisper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="msg" nillable="true" type="q8:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMemberToSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="client" nillable="true" type="q9:Client" />
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="members" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateParchment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="client" nillable="true" type="q11:Client" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="fMsg" nillable="true" type="q12:FileMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHero">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeroEyeColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="race" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeroOccupationByRace">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="race" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOccupationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="occupation" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHeroBasicInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="info" nillable="true" type="q13:HeroBasicInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillsAndAbilities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="info" nillable="true" type="q14:HeroRaceAndOccupation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddHeroSkillsAndAbilities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="AbsNSki" nillable="true" type="q15:HeroAbilitiesAndSkills" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAbilityName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IDabilities" nillable="true" type="q16:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSkillName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IDskills" nillable="true" type="q17:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullAbilityInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="abName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFullSkillInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="skName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStartStats">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="strSta" nillable="true" type="q18:StartStats" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeroChart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id_acc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceAbilityName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IDabilities" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOccupationAbilityName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IDabilities" nillable="true" type="q20:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRaceSkillName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IDskills" nillable="true" type="q21:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOccupationSkillName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IDskills" nillable="true" type="q22:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIfHeroCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id_acc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHeroID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerMessageStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="msg" nillable="true" type="q23:ServerMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdentity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="userID" nillable="true" type="q24:Identity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetClientList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="clients" nillable="true" type="q25:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinedToSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="msg" nillable="true" type="q26:ServerMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionInitSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="session" nillable="true" type="q27:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSessionList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="clients" nillable="true" type="q28:ArrayOfstring" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="msg" nillable="true" type="q29:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Receive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="msg" nillable="true" type="q30:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveWhisper">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="msg" nillable="true" type="q31:Message" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SessionInitMGSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="session" nillable="true" type="q32:Session" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceivePerchment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="fMsg" nillable="true" type="q33:FileMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiveHero">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="hero" nillable="true" type="q34:Hero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveHeroEyes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="heroEyes" nillable="true" type="q35:HeroDetails_Eyes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveHeroOccupationByRace">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="Occupations" nillable="true" type="q36:AllHeroOccupations" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveOccupationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="info" nillable="true" type="q37:OccupationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HeroRegistrationPartOne">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="msg" nillable="true" type="q38:ServerMessage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveSkillsAndAbilities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="info" nillable="true" type="q39:OccupationAndRaceInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveAbilityNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="abNames" nillable="true" type="q40:AbilityNames" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveSkillNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="skNames" nillable="true" type="q41:SkillNames" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveFullAbilityInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="abInfo" nillable="true" type="q42:FullAbilityInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveFullSkillInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="skInfo" nillable="true" type="q43:FullSkillInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveFullHeroChart">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="chart" nillable="true" type="q44:HeroFullChart" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveRaceAbilityNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="abNames" nillable="true" type="q45:AbilityNames" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveOccupationAbilityNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="abNames" nillable="true" type="q46:AbilityNames" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveRaceSkillNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="skNames" nillable="true" type="q47:SkillNames" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveOccupationSkillNames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="skNames" nillable="true" type="q48:SkillNames" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveIfHeroCreated">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="status" nillable="true" type="q49:HeroStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReciveHeroName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Service" minOccurs="0" name="name" nillable="true" type="q50:Identity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>