WFRP_Service/WPFClient/Service References/SVC/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WFRPService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IWFRP_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="72010000">
          </wsrm:InactivityTimeout>
          <wsrm:AcknowledgementInterval Milliseconds="200">
          </wsrm:AcknowledgementInterval>
        </wsrm:RMAssertion>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Service" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWFRP_Initialize_InputMessage">
    <wsdl:part name="parameters" element="tns:Initialize" />
  </wsdl:message>
  <wsdl:message name="IWFRP_Initialize_OutputMessage">
    <wsdl:part name="parameters" element="tns:InitializeResponse" />
  </wsdl:message>
  <wsdl:message name="IWFRP_Disconnect_InputMessage">
    <wsdl:part name="parameters" element="tns:Disconnect" />
  </wsdl:message>
  <wsdl:message name="IWFRP_Register_InputMessage">
    <wsdl:part name="parameters" element="tns:Register" />
  </wsdl:message>
  <wsdl:message name="IWFRP_LogIn_InputMessage">
    <wsdl:part name="parameters" element="tns:LogIn" />
  </wsdl:message>
  <wsdl:message name="IWFRP_StartSession_InputMessage">
    <wsdl:part name="parameters" element="tns:StartSession" />
  </wsdl:message>
  <wsdl:message name="IWFRP_GetAllClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClients" />
  </wsdl:message>
  <wsdl:message name="IWFRP_EndSession_InputMessage">
    <wsdl:part name="parameters" element="tns:EndSession" />
  </wsdl:message>
  <wsdl:message name="IWFRP_Send_InputMessage">
    <wsdl:part name="parameters" element="tns:Send" />
  </wsdl:message>
  <wsdl:message name="IWFRP_Whisper_InputMessage">
    <wsdl:part name="parameters" element="tns:Whisper" />
  </wsdl:message>
  <wsdl:message name="IWFRP_AddMemberToSession_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMemberToSession" />
  </wsdl:message>
  <wsdl:message name="IWFRP_UpdateParchment_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateParchment" />
  </wsdl:message>
  <wsdl:message name="IWFRP_GetHero_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHero" />
  </wsdl:message>
  <wsdl:message name="IWFRP_GetHeroEyeColor_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHeroEyeColor" />
  </wsdl:message>
  <wsdl:message name="IWFRP_GetServerMessageStatus_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetServerMessageStatus" />
  </wsdl:message>
  <wsdl:message name="IWFRP_GetIdentity_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:GetIdentity" />
  </wsdl:message>
  <wsdl:message name="IWFRP_SetClientList_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SetClientList" />
  </wsdl:message>
  <wsdl:message name="IWFRP_JoinedToSession_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:JoinedToSession" />
  </wsdl:message>
  <wsdl:message name="IWFRP_SessionInitSettings_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SessionInitSettings" />
  </wsdl:message>
  <wsdl:message name="IWFRP_SetSessionList_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SetSessionList" />
  </wsdl:message>
  <wsdl:message name="IWFRP_Receive_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:Receive" />
  </wsdl:message>
  <wsdl:message name="IWFRP_ReceiveWhisper_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveWhisper" />
  </wsdl:message>
  <wsdl:message name="IWFRP_SessionInitMGSettings_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SessionInitMGSettings" />
  </wsdl:message>
  <wsdl:message name="IWFRP_ReceivePerchment_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceivePerchment" />
  </wsdl:message>
  <wsdl:message name="IWFRP_ReceiveHero_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReceiveHero" />
  </wsdl:message>
  <wsdl:message name="IWFRP_ReciveHeroEyes_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:ReciveHeroEyes" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IWFRP">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Initialize">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFRP/Initialize" message="tns:IWFRP_Initialize_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWFRP/InitializeResponse" message="tns:IWFRP_Initialize_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Disconnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFRP/Disconnect" message="tns:IWFRP_Disconnect_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Register">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFRP/Register" message="tns:IWFRP_Register_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="LogIn">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFRP/LogIn" message="tns:IWFRP_LogIn_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="StartSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFRP/StartSession" message="tns:IWFRP_StartSession_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetAllClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFRP/GetAllClients" message="tns:IWFRP_GetAllClients_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="EndSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFRP/EndSession" message="tns:IWFRP_EndSession_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Send">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFRP/Send" message="tns:IWFRP_Send_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Whisper">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFRP/Whisper" message="tns:IWFRP_Whisper_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="AddMemberToSession">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFRP/AddMemberToSession" message="tns:IWFRP_AddMemberToSession_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="UpdateParchment">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFRP/UpdateParchment" message="tns:IWFRP_UpdateParchment_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetHero">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFRP/GetHero" message="tns:IWFRP_GetHero_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetHeroEyeColor">
      <wsdl:input wsaw:Action="http://tempuri.org/IWFRP/GetHeroEyeColor" message="tns:IWFRP_GetHeroEyeColor_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetServerMessageStatus">
      <wsdl:output wsaw:Action="http://tempuri.org/IWFRP/GetServerMessageStatus" message="tns:IWFRP_GetServerMessageStatus_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="GetIdentity">
      <wsdl:output wsaw:Action="http://tempuri.org/IWFRP/GetIdentity" message="tns:IWFRP_GetIdentity_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetClientList">
      <wsdl:output wsaw:Action="http://tempuri.org/IWFRP/SetClientList" message="tns:IWFRP_SetClientList_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="JoinedToSession">
      <wsdl:output wsaw:Action="http://tempuri.org/IWFRP/JoinedToSession" message="tns:IWFRP_JoinedToSession_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SessionInitSettings">
      <wsdl:output wsaw:Action="http://tempuri.org/IWFRP/SessionInitSettings" message="tns:IWFRP_SessionInitSettings_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetSessionList">
      <wsdl:output wsaw:Action="http://tempuri.org/IWFRP/SetSessionList" message="tns:IWFRP_SetSessionList_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Receive">
      <wsdl:output wsaw:Action="http://tempuri.org/IWFRP/Receive" message="tns:IWFRP_Receive_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiveWhisper">
      <wsdl:output wsaw:Action="http://tempuri.org/IWFRP/ReceiveWhisper" message="tns:IWFRP_ReceiveWhisper_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SessionInitMGSettings">
      <wsdl:output wsaw:Action="http://tempuri.org/IWFRP/SessionInitMGSettings" message="tns:IWFRP_SessionInitMGSettings_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceivePerchment">
      <wsdl:output wsaw:Action="http://tempuri.org/IWFRP/ReceivePerchment" message="tns:IWFRP_ReceivePerchment_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReceiveHero">
      <wsdl:output wsaw:Action="http://tempuri.org/IWFRP/ReceiveHero" message="tns:IWFRP_ReceiveHero_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ReciveHeroEyes">
      <wsdl:output wsaw:Action="http://tempuri.org/IWFRP/ReciveHeroEyes" message="tns:IWFRP_ReciveHeroEyes_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IWFRP" type="tns:IWFRP">
    <wsp:PolicyReference URI="#NetTcpBinding_IWFRP_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Initialize">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/Initialize" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Disconnect">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/Disconnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Register">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/Register" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="LogIn">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/LogIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="StartSession">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/StartSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetAllClients">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/GetAllClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="EndSession">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/EndSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Send">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/Send" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="Whisper">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/Whisper" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="AddMemberToSession">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/AddMemberToSession" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateParchment">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/UpdateParchment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetHero">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/GetHero" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetHeroEyeColor">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/GetHeroEyeColor" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="GetServerMessageStatus">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/GetServerMessageStatus" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdentity">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/GetIdentity" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetClientList">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/SetClientList" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JoinedToSession">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/JoinedToSession" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionInitSettings">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/SessionInitSettings" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetSessionList">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/SetSessionList" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Receive">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/Receive" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveWhisper">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/ReceiveWhisper" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SessionInitMGSettings">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/SessionInitMGSettings" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceivePerchment">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/ReceivePerchment" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReceiveHero">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/ReceiveHero" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReciveHeroEyes">
      <soap12:operation soapAction="http://tempuri.org/IWFRP/ReciveHeroEyes" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WFRPService">
    <wsdl:port name="NetTcpBinding_IWFRP" binding="tns:NetTcpBinding_IWFRP">
      <soap12:address location="net.tcp://localhost:7997/WPFHost/tcp" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:7997/WPFHost/tcp</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>