WFRP_Service/WPFClient/Service References/SVC/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Client">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Client" nillable="true" type="tns:Client" />
  <xs:complexType name="ServerMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsStatusCorrect" type="xs:boolean" />
      <xs:element minOccurs="0" name="Type" type="tns:ServerMessageType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServerMessage" nillable="true" type="tns:ServerMessage" />
  <xs:simpleType name="ServerMessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Connect" />
      <xs:enumeration value="DisconnectInfoAll" />
      <xs:enumeration value="DisconnectInfoClient" />
      <xs:enumeration value="Register" />
      <xs:enumeration value="Login" />
      <xs:enumeration value="StartSession" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServerMessageType" nillable="true" type="tns:ServerMessageType" />
  <xs:complexType name="Identity">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Identity" nillable="true" type="tns:Identity" />
</xs:schema>