WFRP_Service/WPFClient/Service References/SVC/System.Collections.Generic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Service" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="KeyValuePairOfClientanyTypezniiAH5W">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Client" Namespace="http://schemas.datacontract.org/2004/07/Service">
          </GenericParameter>
          <GenericParameter Name="anyType" Namespace="http://www.w3.org/2001/XMLSchema">
          </GenericParameter>
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Service" name="key" nillable="true" type="q1:Client" />
      <xs:element name="value" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfClientanyTypezniiAH5W" nillable="true" type="tns:KeyValuePairOfClientanyTypezniiAH5W" />
</xs:schema>